// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#results {
  margin-top: 100px;
  text-align:center;
}
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}
.bookmarks {
  padding: 10px;
}
.bookmark {
  margin: 5px;
}

.outer {
  padding: 10px;
}


// http://jsfiddle.net/s6wcudua/
// horizontal scroll 

.horizontal-scroll-bar-container {
//    width:300px;
    height: 60px;
    overflow: hidden;
}
.horizontal-scroll-bar-modules {
    height:90px; /* 40px - more place for scrollbar, is hidden under parent box */
    padding:5px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
    -webkit-overflow-scrolling:touch;
}
.horizontal-scroll-bar-module {
    display:inline-block;
    //width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#ddd;
    padding: 10px;
    margin-left: 10px;
}
.horizontal-scroll-bar-module + .horizontal-scroll-bar-module {
    //margin-left: 10px;
    //padding: 10px;
}


