// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}
.bookmarks {
  padding: 10px;
}
.bookmark {
  margin: 5px;
}


